<div class="container">
	<div class="row">

<h1>でんしょばと</h1>
<h3>『でんしょばと』とは…</h3>
<p>「こんな曲が聴きたい」、「オススメの曲を教えてほしい」など、ユーザの皆様のCDに対する相談を受け付けております。長野県にいる店長にでんしょばとを飛ばしてみましょう。</p>
<p>※お客様の「マイページ」にてお返事させていただきます。お返事が届くまでお待ちください。</p>
<p>※返信後、ご登録いただいたメールアドレス宛に連絡させていただきます。</p>

<%= form_for(@message) do |f| %>

<div class="field row">
	<lavel>件名</lavel>
	<%= f.text_field :title %>
</div>

<div class="field row">
	<lavel>本文</lavel>
	<%= f.text_area :body %>
</div>

<br>
<div class="action row">
	<%= f.submit 'でんしょばとを送る', class:"" %>
</div>
<% end %>

</div>
</div>
