<%= render 'owners/home' %>


    <div class="contents clearfix">
      <div class ="box1">商品一覧</div>
      <div class ="box2">購入履歴・配送状況一覧</div>
      <div class ="box3">でんしょばと</div>
      <div class ="box4">商品投稿</div>
      <div class ="box5">ユーザ情報</div>
    <div>





  </body>
</html>