<%= render 'owners/home' %>


    <div class="contents clearfix">
      <div class ="box1">商品一覧</div>
      <div class ="box2"><%= link_to "購入履歴・配送状況一覧",users_all_delivery_path %></div>
      <div class ="box3"><%= link_to "でんしょばと",messages_path %></div>
      <div class ="box4">商品投稿</div>
      <div class ="box5"><%= link_to "お客様の情報", users_path %></div>
    <div>


  </body>
</html>