
<h3>お届け先</h3>

<!--郵便番号-->
<!--住所-->
<!--電話番号-->
<!--お支払い方法-->
<!--カード決済-->


<h3>購入商品詳細</h3>
<!--購入詳細テーブル-->
	<table>
		<thead>
			<tr>
				<th>商品名</th>
				<th>金額</th>
				<th>数量</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<!--商品名、金額、数量データの反映-->
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>


<!--購入確定、戻るボタン-->
<!--どこへデータを送るのか？-->

