<div class="container">
		<div class="row">

			<div class="col-xs-10">
				<h3 class ="about-title"><strong>店長のひとりごと　生まれたきっかけ</strong></h3>
				<%=image_tag 'italy.jpg' %>
					<h2>「CDの良さを知ってほしい。」</h2>
					<h4>音楽をインターネットで楽しめる時代。でも、CDにはCDの良さがある。</h4>
					<h4>圧縮されていない音源データ。盤面のアートワーク。歌詞カードの紙質。</h4>
					<h4>アーティストのこだわりがいろんなところに隠れている。</h4>
					<h4>CDの良さを改めて感じてほしい。そんな思いから、このサイトを作りました。店長</h4>
			</div>
			<div class ="col-xs-2">
		</div>
	</div>