<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
<% end %>

	<div class="container">
		<div class="row">

<%= render 'users/side_bar' %>
			<div class="col-xs-10">
				<h1>Homes#top</h1>
				<%=image_tag 'forest.jpg',:size => '1000x600' %>
				<div class="row">
					<div class="col-3">
						<div class="slider">
						<% @products.last(5).each do |p| %>
							<%= attachment_image_tag p, :image,:fill,200,200, format: 'jpeg', fallback: "no_image.jpg", :size => "200x200" %>
						<% end %>
						</div>
					</div>
					<div class="col-9">
						<h2 class="color_white re_text">おすすめ商品一覧</h2>
					</div>
				</div>
			</div>

		</div>
	</div>