<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
<% end %>

	<div class="container">
		<div class="row">

			<div class="col-xs-9">
				<h1>Homes#top</h1>
				<img src="img/italy.jpg" class="single-image" alt="sample_image">
			</div>

		</div>
	</div>