<tr class="nested-fields">
	<td><%= f.text_field :disc_number %></td>
	<td><%= f.text_field :track_number %></td>
	<td><%= f.text_field :music_name %></td>
	<td><%= link_to_remove_association "行削除", f %></td>
</tr>