
<h1>店長のひとりごと</h1>

<!-- メニューバー -->




<div class="credit-page">
    <h2>クレジット</h2>
    <h4>クレジットカード登録内容</h4>

	<!-- プルダウン -->
	<a>分割回数</a>
	<select name=”count”>
        <option value=”one”>1回</option>
		<option value=”two”>2回</option>
		<option value=”four”>4回</option>
		<option value=”six”>6回</option>
		<option value=”eight”>8回</option>
		<option value=”towellb”>12回</option>
	</select>

	<!-- テキストボックス -->
    <p>カード番号<br>
    <input type="text" name="card-number"></p>

	<!-- プルダウン -->
	<a>カード有効期限</a>
    <select name=”month”>
        <option value=”jan”>1月</option>
        <option value=”feb”>2月</option>
        <option value=”mar”>3月</option>
        <option value=”apr”>4月</option>
        <option value=”may”>5月</option>
        <option value=”jun”>6月</option>
        <option value=”jul”>7月</option>
        <option value=”aug”>8月</option>
        <option value=”sep”>9月</option>
        <option value=”oct”>10月</option>
        <option value=”nov”>11月</option>
        <option value=”dec”>12月</option>
    </select>
    <a>月</a>
    <select name=”month”>
        <option value=”19”>2019</option>
        <option value=”20”>2020</option>
        <option value=”21”>2021</option>
        <option value=”22”>2022</option>
        <option value=”23”>2023</option>
        <option value=”24”>2024</option>
        <option value=”25”>2025</option>
        <option value=”26”>2026</option>
        <option value=”27”>2027</option>
        <option value=”28”>2028</option>
    </select>
    <a>年</a>

	<!-- テキストボックス -->
    <p>セキュリティーコード<br>
    <input type="password" name="cord-number"></p>


　<!--カード情報登録ボタン-->
  <div class="button-1">
	<!-- #にURLを貼り付ける -->
	<input type="button" name="button" value="カード情報登録" href='#' >
  </div>

  <!--戻るボタン-->
  <div class="button-2">
  	  <!--#にURLを貼り付ける-->
  	  <input type="button" name="button" value="送信" href='#' >
  </div>

</div>

